<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Socorro-157</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style_2 .css' %}">
    <link rel="icon" href="{% static 'imgs/sos .png' %}" type="image/x-icon">
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="project-idea">
                <h1>Socorro - Plataforma para negociação de trabalhos</h1>
                <p>Uma solução inovadora para ensino e aprendizado.</p>
            </div>
            <div class="user-profile">
                <p>Bem-vindo, {{ usu.0.nome }}</p>
                <a href="{% url 'socorro_app:perfil' id_usu=usu.0.id_usuario %}">➔</a>
            </div>
        </div>

        <div class="content">
            <section class="how-it-works">
                <h2>Como Funciona</h2>
                <ul>
                    <li>Você pode pagar para alguém fazer seu trabalho.</li>
                    <li>Você pode receber para fazer trabalhos de outras pessoas.</li>
                    <li>Tudo muito simples...</li>
                    <li>Sem contar que não é necessário expor seu nome.</li>
                </ul>
            </section>

            <div class="search-filter">
                <label for="comboCursos">Curso:</label>
                <select id="comboCursos" onchange="enviarCursoSelecionado()">
                    {% for cur in curso %}
                    <option value="{{ cur.id }}">{{ cur.cursos }}</option>
                    {% endfor %}
                </select>
                
                <label for="comboMaterias">Matéria:</label>
                <select id="comboMaterias">
                    {% for mate in materias %}
                    <option value="{{ mate.id }}">{{ mate.materias }}</option>
                    {% endfor %}
                </select>
                <form action="{% url 'socorro_app:inicio' id_usu=usu.0.id_usuario %}">
                    <button type="submit">Inicio</button>
                </form>
                {% for usuario in usu %}
                <form action="{% url 'socorro_app:novo' id_usu=usuario.id_usuario valida=0 %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Adicionar novo trabalho</button>
                </form>
                {% endfor %}
            </div>
            
            {% for trabalho in trabalhos %}
            <div class="image-list">
                <div class="image-item">
                    <div class="image-details">
                        <h2>{{ trabalho.trabalho }}</h2>
                        <p>Curso: {{ trabalho.curso_trab.cursos }}</p>
                        <p>Matéria: {{ trabalho.fazer_materia.materias }}</p>
                        <p>Data de Entrega: {{ trabalho.data }}</p>
                        {% if trabalho.trabalho_cm_pronto != "pendente"%}
                        <p>Valor : R$ {{ trabalho.pago }}</p>
                        <h3 style="color: green;">Trabalho pronto</h3>
                        <form action="{% url 'socorro_app:tela_compra' id_usu=usu.0.id_usuario trabalho=trabalho.id %}" method="get">
                            <button type="submit" style="background-color: red;">Comprar Trabalho</button>
                        </form>
                        {% endif %}
                        {% if trabalho.trabalho_cm_pronto == "pendente"%}
                        <p>Valor disposto a pagar: R$ {{ trabalho.valor_afazer }}</p>
                        {% if trabalho.quem_fez > 0 %}
                        <h3>Alguem ja esta fazendo...</h3>
                        {% endif %}
                        {% if trabalho.quem_fez == 0 %}
                            </div>
                            <form action="{% url 'socorro_app:aceito' id_usu=usu.0.id_usuario trabalho=trabalho.id %}" method="get">
                                <button type="submit">Fazer trabalho</button>
                            </form>
                            {% endif %}
                            {% endif %}
                            {% for arquivo in trabalho.arquivos.all %}
                            <a href="{{ arquivo.arquivo.url }}" target="_blank">Visualizar</a>
                            {% endfor %}
                    </div>
                </div>
                {% endfor %}
        </div>
        
        <div class="footer">
            <p>&copy; 2024 Socorro - Plataforma para negociação de trabalhos. Todos os direitos reservados.</p>
        </div>
    </div>
    
<script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function enviarCursoSelecionado() {
        var comboCursos = document.getElementById('comboCursos');
        var cursoSelecionado = comboCursos.value;
        var url = "{% url 'socorro_app:processar_curso_ini' id_usu=usu.0.id_usuario valida=0 %}";
        var csrftoken = getCookie('csrftoken');

        var xhr = new XMLHttpRequest();
        xhr.open('POST', url, true);
        xhr.setRequestHeader('X-CSRFToken', csrftoken);

        var formData = new FormData();
        formData.append('curso_id', cursoSelecionado);

        xhr.onload = function () {
            if (xhr.status >= 200 && xhr.status < 400) {
                var response = xhr.responseText;
                console.log(response);
                document.open();
                document.write(response);
                document.close();
            } else {
                console.error('Erro na resposta do servidor:', xhr.responseText);
            }
        };

        xhr.onerror = function () {
            console.error('Erro na requisição AJAX.');
        };

        xhr.send(formData);
    }
</script>
</body>
</html>
