
body {
    background-color: #1e1e1e;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    background-image: url('/static/imgs/fundo_2.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow-y: auto;
}

.container {
    max-width: 45%; /* Reduzido em 30% */
    background-color: rgba(44, 62, 80, 0.9);
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ecf0f1;
    margin: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.container:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header .project-idea {
    flex: 1;
    animation: fadeInDown 1s ease;
}

.header .user-profile {
    flex: 1;
    text-align: right;
    animation: fadeInDown 1s ease 0.5s;
}

.header h1 {
    margin: 0;
    color: #ecf0f1;
    font-size: 2rem;
    animation: glow 2s infinite alternate;
}

.header p {
    margin: 5px 0 0;
    color: #bdc3c7;
}

.content {
    width: 100%;
}

.how-it-works {
    background-color: rgba(52, 152, 219, 0.9);
    color: #ecf0f1;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    animation: fadeInUp 1s ease;
}

.how-it-works h2 {
    font-size: 1.8rem;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.how-it-works ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
    max-width: 600px;
    margin: 0 auto;
}

.how-it-works ul li {
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: #ecf0f1;
    padding-left: 20px;
    position: relative;
}

.how-it-works ul li:before {
    content: "\2022";
    color: #ecf0f1;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    position: absolute;
    left: 0;
    top: 0;
    animation: bounce 2s infinite alternate;
}

.search-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    animation: fadeInUp 1s ease 0.5s;
}

.search-filter label {
    margin-right: 10px;
}

.search-filter select {
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
    background-color: #34495e;
    color: #ecf0f1;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.search-filter select:hover {
    background-color: #3e5c76;
    transform: scale(1.05);
}

.image-list {
    width: 100%;
    margin-bottom: 20px;
}

.image-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(52, 73, 94, 0.9);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 10px 0;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    animation: fadeInUp 1s ease;
}

.image-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

.image-item img {
    max-width: 150px;
    border-radius: 8px;
    margin-right: 20px;
}

.image-details {
    flex: 1;
}

.image-details p {
    margin: 10px 0;
    color: #ecf0f1;
}

.image-item a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #27ae60;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.image-item a:hover {
    background-color: #2ecc71;
    transform: translateY(-3px);
}

.footer {
    background-color: #34495e;
    color: #ecf0f1;
    text-align: center;
    padding: 10px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-top: 20px;
    width: 100%;
}

/* Animações */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes bounce {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-10px);
    }
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px #3498db, 0 0 20px #3498db, 0 0 30px #3498db, 0 0 40px #3498db, 0 0 50px #3498db;
    }
    to {
        text-shadow: 0 0 20px #3498db, 0 0 30px #3498db, 0 0 40px #3498db, 0 0 50px #3498db, 0 0 60px #3498db;
    }
}